.dogImg {
  margin: 10vh auto;
  max-width: 50vw;
  max-height: 50vh;
  border-radius: 2%;
  box-shadow: 5px 10px 8px #888888;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  top: 75vh;
  position: fixed;
  background-color: lightblue;
  border: none;
  border-radius: 5%;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}
