* {
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(240, 232, 222);
  background-image: radial-gradient(rgb(212, 137, 94) 1.5px, transparent 3px);
  background-size: 90px 90px;
}

#dogImg {
  margin: 10vh auto;
  max-width: 50vw;
  max-height: 50vh;
  /* float: left;
  width: 50vw;
  height: 50vh;
  object-fit: contain; */
  border-radius: 2%;
  box-shadow: 5px 10px 8px #888888;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  top: 75vh;
  position: fixed;
  background-color: lightblue;
  border: none;
  border-radius: 5%;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}
