* {
  font-family: 'Courier New', Courier, monospace;
}

#dogImg {
  margin: 10vh auto;
  max-width: 50vw;
  max-height: 50vh;
 }

 .mainDiv {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 button {
   top: 75vh;
   position: fixed;
   background-color: lightblue;
   border: none;
   border-radius: 5%;
   padding: 15px;
   cursor: pointer;
   font-weight: bold;
 }
