
* {
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(240, 232, 222);
  background-image: radial-gradient(rgb(212, 137, 94) 1.5px, transparent 3px);
  background-size: 90px 90px;
  color: rgb(6, 6, 63);
}
